[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
beautifulsoup4 = "*"
requests = "*"
django-chartit = "*"

[requires]
python_version = "3.7"
