-i https://pypi.org/simple/
beautifulsoup4==4.7.1
certifi==2020.12.5
chardet==3.0.4
dj-database-url==0.5.0
django-chartit==0.2.9
django-heroku==0.3.1
django==2.2
djangorestframework==3.11.2
gunicorn==19.9.0
idna==2.8
psycopg2==2.8.6
pytz==2021.1
requests==2.21.0
soupsieve==2.2.1
sqlparse==0.4.1
urllib3==1.24.3
whitenoise==5.2.0
